<section class="mt-5">
    <div class="container d-flex justify-content-center align-items-center">
        <button class="p-2 w-25 btn text-light mx-5" id="addcategory" data-bs-toggle="modal"
            data-bs-target="#staticBackdrop"> ADD BANNER</button>
    </div>

</section>


<section>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    
                </div>
                <div class="modal-body">
                    <h4 class=" text-center mb-3" style="font-weight:800;font-style:italic">ADD BANNER IMAGE</h4>
                    <form action="/admin/addBannerImage" method="post" id=""
                        class="d-flex justify-content-center align-items-center flex-column"
                        enctype="multipart/form-data" >
                        <input type="text" name="banner" placeholder="ADD BANNER NAME" class="w-50 p-3 form-control" ><br>
                        <input type="file" class="form-control w-50 p-3" id="exampleFormControlFile1" name="image1">
                        <button type="submit" class="p-2 w-25 btn text-dark" id="addcategory" data-bs-dismiss="modal">ADD</button>
                    </form>
                </div>
                <div class="modal-footer">
                    
                </div>
            </div>
        </div>
    </div>
</section>